
#logged-out-navbar{
  width: 100%;
  background-color: yellowgreen;
  top: 0;
  left:0;
  position: fixed;
  z-index: 2;;
  display: grid;
  grid-template-columns: 100px 1fr 80px 80px 75px 75px;
  align-items: center;
  justify-items: center;
}

#logged-out-navbar > * {
  margin: 10px;
}

#logged-out-navbar > h2 {
  text-align: left;
  cursor: pointer;
  color: white;
}

#logged-in-navbar{
  width: 100%;
  background-color: yellowgreen;
  top: 0;
  left:0;
  position: fixed;
  z-index: 2;;
  display: grid;
  grid-template-columns: 100px 1fr 80px 80px 75px 50px;
  align-items: center;
  justify-items: center;
}

#logged-in-navbar > * {
  margin: 10px;
}

#logged-in-navbar > h2 {
  text-align: left;
  cursor: pointer;
  color: white;
}

.nav-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  color: rgb(108, 148, 108)
}

#logged-in-navbar > button {
  background: none;
	color: white;
	border: none;
	cursor: pointer;
}

#logged-in-navbar > button:hover {
  color: rgb(108, 148, 108)
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  margin-right: 8px;
  font-size: 24px;
}

.dashboard-sidebar {

  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: yellowgreen;
  padding-top: 20px;
  transition: width 0.3s ease;
  z-index: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#searchbar {
  width: 80%;
}

.dashboard-sidebar > * {
  margin: 20px;
}

