#owner-restaurants-title {
  margin-top: 100px;
  margin-left: 200px;
}

#owner-restaurants-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
}

#owner-restaurants-container > p {
  margin-left: 20px;
}

#owner-restaurant-card {
  margin: 20px;
}

#owner-restaurant-card > img {
  width: 200px;
  height: 200px;
}